<div style="max-width: 800px; margin: auto;">
    <div *ngIf="book" class="flex-container">
        <img [src]="book.url ? book.url : 'assets/Book_IMG.jpg'" width="300px">
        <div class="book-data-container">
            <h1>{{book.title}}</h1>
            <h2><i>{{book.author}}</i></h2>
            <p><b>Kiadó:</b> {{book.publisher}}</p>
            <p><b>Nyelv:</b> {{book.language}}</p>
            <p><b>Kiadás éve:</b> {{book.publicationDate | date:"yyyy."}}</p>
            <p><b>Oldalak száma:</b> {{book.numberOfPages}}</p>
            <p><b>Borító:</b> {{book.format}}</p>
        </div>
    </div>
    <hr>
    <p>{{book.description}}</p>
</div>