<div class="row margin-bottom" id="header">
    <div class="row pointer" routerLink="/books">
        <img src="assets\Book-icon.png" height="50px">
        <h3 id="title">Bookshelf App</h3>
    </div>
    <div class="space-filler"></div>
    <button class="header-btn" routerLink="/books-to-read" routerLinkActive="active-item"><mat-icon>favorite</mat-icon></button>
    <button class="header-btn" (click)="authService.signOut()"><mat-icon>logout</mat-icon></button>
</div>
<router-outlet></router-outlet>