#title {
    margin: auto 15px auto 15px;
}

.header-btn {
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 25px;

    mat-icon {
        transform: scale(1.3);
    }

    &:hover {
        background-color: rgb(70, 70, 70);
    }
}

#header {
    background-color: rgb(48, 67, 73);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.active-item {
    background-color: rgb(102, 102, 102);
}