img {
    max-width: 200px
}

.book-container {
    background-color: rgb(233, 233, 233);
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    max-width: 500px;
    overflow-wrap: break-word;
}
h2 {
    margin-top: 0px;
}