@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$dark-font-color: rgb(53, 53, 53);
$light-font-color: rgb(212, 212, 212);
$background-color: rgb(41, 57, 63);
$yellow: rgb(190, 148, 56);
$light-yellow: rgb(224, 175, 67);

@mixin row {
    display: flex;
    flex-wrap: nowrap;
}

@mixin flex-grow($value) {
    div, input {
        flex-grow: $value
    }
}

.row {
    @include row();
}

.row-center {
    @include row();
    @include flex-grow(1);
    justify-content: center;
}

.space-filler {
    flex-grow: 1;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    @include flex-grow(1);
}

.max-width {
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $light-font-color;
    background-color: $background-color;
    margin: 0;
}

button {
    height: 45px;
    background-color: $yellow;
    color: $light-font-color;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    padding: 12px;
    cursor: pointer;

    &:hover {
        background-color: $light-yellow;
    }
}

input {
    height: 40px;
    background-color: $dark-font-color;
    color: $light-font-color;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    font-weight: bold;

}

.pointer {
    cursor: pointer;
}

.mat-icon {
    vertical-align: middle;
 }

 *:focus {
    outline: none;
}

.center {
    margin: auto;
    text-align: center;
}

.margin-right {
    margin-right: 10px;
}

.margin-bottom {
    margin-bottom: 20px;
}