@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$dark-font-color: rgb(53, 53, 53);
$light-font-color: rgb(212, 212, 212);
$background-color: rgb(41, 57, 63);
$toolbar-bg-color:rgb(48, 67, 73);
$yellow: rgb(190, 148, 56);
$light-yellow: rgb(224, 175, 67);

.row {
    display: flex;
    flex-wrap: nowrap;
}

.space-filler {
    flex-grow: 1;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    div {
        flex-grow: 1
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $light-font-color;
    background-color: $background-color;
}

button {
    height: 40px;
    background-color: $yellow;
    color: $light-font-color;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    padding: 12px;

    &:hover {
        background-color: $light-yellow;
    }
}

.pointer {
    cursor: pointer;
}

.toolbar-bg {
    background-color: $toolbar-bg-color;
}